@model string

@{
    ViewData["Title"] = "PIN Entry";
}

<form action="/Forward/CheckPin" method="POST">
    <input type="hidden" value="@Model" name="forward" readonly/>
    <div class="form-group">
        <label for="pin" class="form-label text-large">PIN</label>
        <div class="text-button-combo">
            <input type="text" maxlength="6" id="pin" name="pin" class="input form-text"/>
            <button type="submit" class="input form-button">Submit</button>
        </div>
    </div>
</form>