# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Rutschig.iml
/projectSettingsUpdater.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

**/obj
**/bin
**/.idea
Logs/*

appsettings.Development.json
appsettings.json
