html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.flow-column {
  display: flex;
  flex-direction: column;
}

.flow-row {
  display: flex;
  flex-direction: row;
}

.flow-column > *, .flow-row > * {
  flex: 1;
}

.text-small {
  font-size: 10px;
}

.text-medium {
  font-size: 13px;
}

.text-large {
  font-size: 16px;
}

.padding-1 {
  padding: 1px;
}
.padding-2 {
  padding: 2px;
}
.padding-3 {
  padding: 3px;
}
.padding-4 {
  padding: 4px;
}
.padding-5 {
  padding: 5px;
}
.padding-6 {
  padding: 6px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px;
}

.container {
  height: 100%;
  width: 86%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.navbar {
  position: absolute;
  top: 0;
  background-color: #12263a;
  width: 100%;
  padding: 8px;
}

nav.navbar a.brand {
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #eff9f0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.form-group:first-of-type {
  margin-top: 0;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group label {
  display: flex;
  vertical-align: center;
  margin-bottom: 4px;
}

.text-button-combo {
  display: flex;
  flex-direction: row;
}

.text-button-combo .input.form-text {
  flex: 1;
  border-radius: 6px 0 0 6px;
  border-width: 2px 0 2px 2px;
}

.text-button-combo .input.form-button {
  border-radius: 0 6px 6px 0;
}

.input.form-text {
  display: flex;
  font-family: 'Molengo', sans-serif;
  font-size: 16px;
  border-style: solid;
  border-color: #eff9f0;
  padding: 5px 8px;
  border-radius: 6px;
}

.input.form-button {
  border-style: none;
  background-color: #22aaa1;
  color: #eff9f0;
  padding: 10px 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  color: #54494b;
  font-size: 14px;
  padding: 6px 12px;
}

footer.footer a {
  color: #b33951;
  text-decoration: none;
  font-style: italic;
}

#shortened-result {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

a#shortened-link {
  font-family: 'Molengo', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  color: #b33951;
}