html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.flow-column {
  display: flex;
  flex-direction: column;
}

.flow-row {
  display: flex;
  flex-direction: row;
}

.flow-row > * {
  margin: 0 !important;
  padding: 0 6px;
}

.flow-row > *:first-child {
  padding-left: 0;
}
.flow-row > *:last-child {
  padding-right: 0;
}

.flow-column > *, .flow-row > * {
  flex: 1;
}

.text-small {
  font-size: 10px;
}

.text-medium {
  font-size: 13px;
}

.text-large {
  font-size: 16px;
}

h2.page-heading {
  font-family: 'Source Sans Pro', sans-serif;
  color: #766153;
  border-bottom: 1px dotted #727272;
}

.padding-1 {
  padding: 1px;
}
.padding-2 {
  padding: 2px;
}
.padding-3 {
  padding: 3px;
}
.padding-4 {
  padding: 4px;
}
.padding-5 {
  padding: 5px;
}
.padding-6 {
  padding: 6px;
}

.container {
  height: 100%;
  width: 86%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subcontainer {
  min-height: 360px;
}

nav.navbar {
  position: absolute;
  top: 0;
  background-color: #12263a;
  width: calc(100% - 16px);
  padding: 8px;
}

nav.navbar a.brand {
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: #eff9f0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.form-group:first-of-type {
  margin-top: 0;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group label {
  display: flex;
  vertical-align: center;
  margin-left: 4px;
  margin-bottom: 4px;
}

.text-button-combo {
  display: flex;
  flex-direction: row;
}

.text-button-combo .input.form-text {
  flex: 1;
  border-radius: 6px 0 0 6px;
  border-width: 2px 0 2px 2px;
}

.text-button-combo .input.form-button {
  border-radius: 0 6px 6px 0;
}

.input.form-text {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-style: solid;
  border-color: #e0eae1;
  padding: 5px 8px;
  border-radius: 6px;
}

.input.form-button.confirm {
  background-color: #22AAA1;
}

.input.form-button.primary {
  background-color: #12263A;
}

.input.form-button {
  border-style: none;
  color: #eff9f0;
  padding: 10px 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  color: #54494b;
  font-size: 14px;
  padding: 6px 12px;
}

footer.footer a {
  color: #b33951;
  text-decoration: none;
  font-style: italic;
}

#shortened-result {
  color: #b33951;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#toast {
  display: none;
  position: absolute;
  bottom: 50vh;
  background-color: #12263ACC;
  font-size: min(3.75vw, 16px);
  border-radius: 4em;
  color: #fff;
  padding: 4px 14px;
  animation-duration: 400ms;
}

#toast.in {
  animation-name: fadein;
}

#toast.out {
  animation-name: fadeout;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
